body {
}
#background {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background-image: url('assets/forest.jpg');
  background-position: center;
  background-size: center;
  opacity: 0.8;
}
#header-text{
  margin-top: 35px;
  color: white;
  font-family: Raleway;
  text-align: center;
  font-size: 45px;
}
#task-container {
  height: 250px;
  width: 600px;
  background-color: #d9d9d9;
  border-radius: 12px 12px 12px 12px;
}
.filler {
  height: 80px;
}
.btn-container {
  margin-top: 15px;
}

