body {
  background-image: url('assets/beach.jpg');
  background-position: center;
  background-size: center;
}

#header-text{
  margin-top: 35px;
  color: white;
  font-family: Baloo Paaji, cursive;
  font-weight: 800;
  text-align: center;
  font-size: 45px;
}

#input-container {
  height: 350px;
  width: 600px;
  background-color: #d9d9d9;
  border-radius: 12px 12px 12px 12px;
}

#input-container input {
  margin-top: 30px;
}

#task-description {
  height: auto;
}

#tasks {
  height: 100%
}

.task-container {
  height: 175px;
  width: 600px;
  margin-top: 15px;
  background-color: #d9d9d9;
  border-radius: 12px 12px 12px 12px;
}

.filler {
  height: 20px;
}

.task-filler {
  height: 35px;
}

.btn-container {
  margin-top: 15px;
}

.row .btn-container {
}

.completed {
  margin-top: 10px;
}

.task-head {
  text-align: center;
  font-family: Raleway;
}

.task-body {
  text-align: center;
  font-family: Raleway;
}
.hide {
  display: none;
}
.save-edit {
  width: 100%;
}
.fi-x {
  color: #ec5840;
}
.fi-check {
  color: #3adb76;
}
