body {
  background-image: url('assets/beach.jpg');
  background-position: center;
  background-size: center;
}
#header-text{
  margin-top: 35px;
  font-family: Raleway;
  text-align: center;
  font-size: 45px;
}
#input-container {
  height: 250px;
  width: 600px;
  background-color: #d9d9d9;
  border-radius: 12px 12px 12px 12px;
}
#tasks {
  height: 100%
}
.task-container {
  height: 100px;
  width: 600px;
  background-color: #d9d9d9;
  border-radius: 12px 12px 12px 12px;
}
.filler {
  height: 80px;
}
.btn-container {
  margin-top: 15px;
}

